/* Main
main {
  .containerProyectos {
    @include flex(flex, column, center);
    
      width: 70%;
      height: 300px;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      @include flex(flex, column, center);
      justify-content: flex-end;
      margin: 20px 0px;
      .backPetshop {
        /* Card petshop
        background: url("../img/pawprint\ 1.svg") no-repeat center;
        background-size: contain;
      }
      .backHeroes {
        /* Card súper héroes
        background: url("../img/liga-justicia-batman.svg") no-repeat center;
        background-size: contain;
      }
      .backCvLucas {
        /* Card cv Lucas
        background: url("../img/Foto_perfil.jpg") no-repeat center;
        background-size: contain;
      }
      .backCvBatman {
        /* Card cv Batman 
        background: url("../img/logo_batman.svg") no-repeat center;
        background-size: contain;
      }
      .backLemonPie {
        /* Card Lemon Pie 
        background: url("../img/lemon-pie-1.svg") no-repeat center;
        background-size: contain;
      }
      .backPizzeria {
        /* Card Pizzería 
        background: url("../img/VectorPizza.svg") no-repeat center;
        background-size: contain;
      }
      div {
        @include flex(flex, column, center);
        h2 {
          background-color: antiquewhite;
          border-radius: 5px;
          margin: 5px 0px;
          padding: 5px 10px;
          text-align: center;
          color: black;
        }
        a {
          background-color: antiquewhite;
          border-radius: 5px;
          margin: 5px 0px;
          padding: 5px 10px;
          text-align: center;
          color: black;
          font-size: 18px;
        }
      }
    
  }
}
*/

main {
  .containerProyectos {
    @include flex(flex, column, center);
    .card {
      @include flex(flex, column, center);
      justify-content: flex-end;
      width: 70%;
      height: 300px;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      margin: 20px 0px;
    }
    .backPetshop {
      /* Card petshop */
      background: url("../img/pawprint\ 1.svg") no-repeat center;
      background-size: contain;
      div {
        @include flex(flex, column, center);
        h2 {
          @include subtitulosProyectosYAncor($background-color, $border-radius, $margin, $padding, $text-align, $color);
        }
        a {
          @include subtitulosProyectosYAncor($background-color, $border-radius, $margin, $padding, $text-align, $color);
        }
      }
    }
    .backHeroes {
      /* Card súper héroes */
      background: url("../img/liga-justicia-batman.svg") no-repeat center;
      background-size: contain;
      div {
        @include flex(flex, column, center);
        h2 {
          @include subtitulosProyectosYAncor($background-color, $border-radius, $margin, $padding, $text-align, $color);
        }
        a {
          @include subtitulosProyectosYAncor($background-color, $border-radius, $margin, $padding, $text-align, $color);
        }
      }
    }
    .backCvLucas {
      /* Card cv Lucas */
      background: url("../img/Foto_perfil.jpg") no-repeat center;
      background-size: contain;
      div {
        @include flex(flex, column, center);
        h2 {
          @include subtitulosProyectosYAncor($background-color, $border-radius, $margin, $padding, $text-align, $color);
        }
        a {
          @include subtitulosProyectosYAncor($background-color, $border-radius, $margin, $padding, $text-align, $color);
        }
      }
    }
    .backCvBatman {
      /* Card cv Batman */ 
      background: url("../img/logo_batman.svg") no-repeat center;
      background-size: contain;
      div {
        @include flex(flex, column, center);
        h2 {
          @include subtitulosProyectosYAncor($background-color, $border-radius, $margin, $padding, $text-align, $color);
        }
        a {
          @include subtitulosProyectosYAncor($background-color, $border-radius, $margin, $padding, $text-align, $color);
        }
      }
    }
    .backLemonPie {
      /* Card Lemon Pie */
      background: url("../img/lemon-pie-1.svg") no-repeat center;
      background-size: contain;
      div {
        @include flex(flex, column, center);
        h2 {
          @include subtitulosProyectosYAncor($background-color, $border-radius, $margin, $padding, $text-align, $color);
        }
        a {
          @include subtitulosProyectosYAncor($background-color, $border-radius, $margin, $padding, $text-align, $color);
        }
      }
    }
    .backPizzeria {
      /* Card Pizzería */
      background: url("../img/VectorPizza.svg") no-repeat center;
      background-size: contain;
      div {
        @include flex(flex, column, center);
        h2 {
          @include subtitulosProyectosYAncor($background-color, $border-radius, $margin, $padding, $text-align, $color);
        }
        a {
          @include subtitulosProyectosYAncor($background-color, $border-radius, $margin, $padding, $text-align, $color);
        }
      }
    }
  }
}
