@media (min-width: 768px) {
  main {
    div {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 100px 0px;
      .card {
        width: 40%;
        margin: 10px;
      }
      .fotoPerfil {
        background-size: cover;
      }
    }
  }
}

@media (min-width: 1024px) {
  .card {
    width: 30%;
  }
}
