@media (min-width: 768px) {
  main {
    div {
      width: 80%;
      margin: auto;
      .descripcion {
        div {
          background-size: cover;
          height: 150px;
        }
      }
    }
  }  
}
