main {
  .container {
    @include flex(column, flex-start);
    padding-bottom: 5px;
    section {
      @include flex(column, center);
      width: 100%;
      p {
        text-align: justify;
        width: 70%;
        padding: 10px 0px;
      }
      h2 {
        color: $subtitulo;
        text-transform: uppercase;
        background-color: $colorPrincipalFondos;
        font-family: $letraPrincipal;
        font-weight: $weightTitulos;
        letter-spacing: 10px;
        width: 100%;
        padding: 10px 0px 10px 15px;
        font-size: 18px;
      }
      ul {
        @include flex(column, stretch);
        padding: 20px 40px;
        font-family: $letraPrincipal;
        font-weight: $weightOtrosTextos;
        li {
          padding: 5px 0;
          span {
            font-style: italic;
          }
        }
      }
      dl {
        @include flex(column, stretch);
        padding: 20px 40px;
        font-family: $letraPrincipal;
        font-weight: $weightOtrosTextos;
        dt {
          padding: 5px 0;
          font-weight: bold;
        }
        dd {
          padding: 5px 0;
        }
      }
    }
  }
}
