header {
  background-color: #e6e6e6;
  text-align: center;
  h1 {
    color: $titulo;
    text-transform: uppercase;
    background-color: $colorPrincipalFondos;
    letter-spacing: 10px;
    word-spacing: 10px;
  }
}
