main{
    .container{
        margin: 40px auto;
        width: 70%;
        margin-bottom: 150px;
        h2{
            color: $subtitulo;
        text-transform: uppercase;
        background-color: $colorPrincipalFondos;
        letter-spacing: 10px;
        word-spacing: 10px;    
        }
        ul{
            li{
                span{
                    font-style: italic;
                }
            }
        }
    }
    
    
    
    

}