footer {
  @include flexbox;
  @include flex-direction($direction: column);
  @include align-items($value: center);
  background-color: #005677;
  padding: 5px 0;
  h3 {
    font-family: $letraPrincipal;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 0 10px;
  }
  i {
    color: white;
    padding: 0 10px;
  }
}
