* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1:first-letter,
h2:first-letter,
h3::first-letter,
p:first-letter {
  text-transform: uppercase;
}

span {
  font-weight: bold;
}
