main {
  .container {
    @include flexbox;
    @include flex-direction($direction: column);
    @include align-items($value: flex-start);
    padding: 100px 0px;
    section {
      @include flexbox;
      @include flex-direction($direction: column);
      @include align-items($value: flex-start);
      padding-top: 20px;
      width: 100%;
      h2 {
        color: $subtitulo;
        text-transform: uppercase;
        background-color: $colorPrincipalFondos;
        font-family: $letraPrincipal;
        font-weight: $weightTitulos;
        letter-spacing: 10px;
        word-spacing: 10px;
        width: 100%;
        padding-left: 10px;
      }
      ul {
        @include flexbox;
        @include flex-direction($direction: column);
        padding: 20px 40px;
        font-family: $letraPrincipal;
        font-weight: $weightOtrosTextos;
        li {
          padding: 5px 0;
          span {
            font-style: italic;
          }
        }
      }
      dl {
        @include flexbox;
        @include flex-direction($direction: column);
        padding: 20px 40px;
        font-family: $letraPrincipal;
        font-weight: $weightOtrosTextos;
        dt {
          padding: 5px 0;
          span {
            font-style: italic;
          }
        }
        dd {
          padding: 5px 0;
        }
      }
    }
  }
}
