/* Main*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 70%;
  height: 300px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0px;
}

.backPetshop {
  background: url("../img/pawprint\ 1.svg") no-repeat center;
  background-size: contain;
}

.backHeroes {
  background: url("../img/liga-justicia-batman.svg") no-repeat center;
  background-size: contain;
}

.backCvLucas {
  background: url("../img/Foto_perfil.jpg") no-repeat center;
  background-size: contain;
}

.backCvBatman {
  background: url("../img/logo_batman.svg") no-repeat center;
  background-size: contain;
}

.backLemonPie {
  background: url("../img/lemon-pie-1.svg") no-repeat center;
  background-size: contain;
}

.backPizzeria {
  background: url("../img/VectorPizza.svg") no-repeat center;
  background-size: contain;
}

.card div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card h2,
.card a {
  background-color: antiquewhite;
  border-radius: 5px;
  margin: 5px 0px;
  padding: 5px 10px;
  text-align: center;
  color: black;
}

.card a {
  font-size: 18px;
}