/* Importo fuente desde fonts google*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@100;300;400;500;700;900&display=swap");

/* Estilos Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, main, footer{
  max-width: 1024px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 40px auto;
  width: 70%;
}

ul,
ol {
  list-style-type: none;
  display: flex;
}

a {
  display: inline-block;
  text-decoration: none;
}

/* Header */
.info {
  background-color: #1cd1b0;
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}

header {
  position: sticky;
  background-color: #00669f;
  z-index: 999;
  font-weight: 400;
  font-size: 40px;
  color: #000000;
  text-transform: capitalize;  
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
  display: flex;
}

/* Estilos cards */
.container {
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  height: 529px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.card-img {  
  position: relative;
  background: url("../img/back_batman.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px 16px;
  height: 229px;
  display: flex;
}

.card-img img{
    position: absolute;
    top: 6.25%;
    left: 20px;
}

.card-text {
  position: relative;  
  height: 236px;
  margin-bottom: 30px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-text img {
  position: absolute;
  left: calc(50% - 59px);
  top: -59px;
    border-radius: 50%;
    background: #C4C4C4;
}

.card-text h2 {
  padding-top: 60px;
  text-align: center;  
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  text-transform: uppercase;
}

.card-text p {  
  height: 250px;
  padding: 20px 0px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.card-text p:first-letter {
    text-transform: uppercase;
}

.card-button{    
width: 128.78px;
height: 48.52px;
left: 117px;
background: #00669F;
text-align: center;
}

.card-button a{
    width: 56px;
height: 18px;
  font-weight: 400px;
  font-size: 15px;
  line-height: 17,58px;
  color: #F3F3F3;
}

.card-button a:first-letter {
    text-transform: uppercase;
}

/* Footer */
footer {
  background-color: #00669f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff9f9;
  font-weight: 400px;
  font-size: 16px;
  line-height: 18, 75px;
  height: 51px;
  left: 0px;
  top: 972px;
}

footer:first-letter {
    text-transform: uppercase;
}

footer span{
    text-transform: uppercase;
}

/* Responsive */
/*
@media screen and (max-width: 768px) { /* esto es para tablets*
  .class{
    flex-direction: column;
  }

  .class{
    width: unset;
  }
}

@media screen and (max-width: 480px) { /* esto es para celu*
  html{
    font-size: 20px;
  }
  //siempre hay que usar la opción de menú hamburguesa para los nav cuando disminuís sa celular
  .class{
    flex-direction: column;
  }

  .class{
    width: unset;
    margin-bottom: 1.2rem;
  }
}
*/