/* Importo fuente desde fonts google*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,700&display=swap");

/* Estilos Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
header,
main,
footer {
  max-width: 1024px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 40px auto;
  width: 70%;
}*/
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
  display: flex;
}

a {
  display: inline-block;
  text-decoration: none;
}

/* Estilos compartidos header - footer */
.primerHeader,
.segundoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primerHeader,
.tercerFooter {
  padding: 2px 30px;
  background-color: #222222;
}

.segundoHeader,
.primerFooter {
  background-color: #f0a83e;
  padding: 10px;
}

.primerHeader p,
.tercerFooter p {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  padding: 0 10px;
}

h1,
h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.animal {
  font-size: 15px;
  color: palegoldenrod;
}

/* Header*/
header {
  color: #f3f3f3;
}

.primerHeader > div {
  display: flex;
}

.segundoHeader span {
  color: #3c2313;
  padding-right: 5px;
}

.segundoHeader nav ul li a {
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  padding: 0 3px;
  color: #ffffff;
}

.icono-menu {
  color: white;
  display: none;
  /* visibility: hidden;*/
}

/* Main*/
.segundoSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px 40px;
}

h2 {
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
  color: #3c2313;
  padding: 10px 0;
}

section ul {
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #666666;
}

section ul li {
  padding: 10px 15px;
}

.cards {
  display: flex;
}

.cards div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards div p {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: #3c2313;
}

.tercerSection {
  padding: 50px 0;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #3c2313;
  padding: 20px 0;
}

.tercerSection form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tercerSection form input {
  background: #3c2313;
  border-radius: 15px;
  padding: 5px 80px;
  font-size: 9px;
  line-height: 11px;
  margin-top: 5px;
}

.tercerSection form div {
  display: flex;
}

.tercerSection form div button {
  padding: 5px 20px;
  border-radius: 15px;
  margin: 0px 2px;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-top: 40px;
}

.reset {
  background: #8a8787;
}

.submit {
  background: #f0a83e;
}

/* Footer */
.primerFooter {
  display: flex;
  align-items: center;
}

.primerFooter p {
  width: 50%;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.primerFooter form {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.primerFooter form input {
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: #a0a0a0;
  background: #ffffff;
  border-radius: 15px;
  padding: 10px 65px 10px 15px;
  margin: 0 5px;
}

.primerFooter form button {
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  color: #ffffff;
  background: #3c2313;
  border-radius: 15px;
  padding: 5px 10px;
}

.segundoFooter {
  background: #3c2313;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacto {
  display: flex;
  align-items: center;
  padding: 10px 50px;
}

.imagenContacto {
  width: 30%;
  text-align: center;
  padding: 10px;
  font-size: 35px;
  color: #8a8787;
  border-radius: 50%;
  background: #c4c4c4;
  border: 2px solid #786960;
}

.contacto div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.contacto div p {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  padding-left: 20px;
}

.contacto div .contactoAclaracion {
  font-size: 10px;
  line-height: 12px;
  color: #8a8787;
}

h4 {
  color: #f0a83e;
  padding-right: 3%;
}

h4 span {
  color: #ffffff;
}

.tercerFooter {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 10px;
}

/* Responsive */
@media (max-width: 480px) {
  nav ul {
    display: none;
  }
  .icono-menu {
    display: block;
  }
  h2{
    text-align: center;
  }
  .cards, .primerFooter, .segundoFooter{
    flex-direction: column;
  }
}
